body {
    font-family: 'Varela Round', sans-serif;
    text-align: center !important;
    background-color: #5fcef7
}

.flex-container {
    display: flex;
}

#weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#weather-image {
    max-width: 500px;
    margin-top: 20px;
}

#fav-button #toggle-unit{
    padding: "10px 20px";
    margin-top: 20px;
    cursor: "pointer";
    display: none;
}

#favorites {
    align-items: center;
}

.hidden {
    display: none;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 10vh !important;
    margin-top: 15vh;
    margin-bottom: 0%;
    color: white;
}

h2 {
    font-family: 'Varela Round', sans-serif;

}

input[type="text"] {
    font-family: 'Varela Round', sans-serif;
}

input[type="password"]{
    font-family: 'Varela Round', sans-serif;
}

/* CSS */

.button-1, #fav-button, .weather-button, .delete-button {
  background-color: #5fcef7;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.weather-button {
    padding: none;
}

.delete-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#fav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: rgb(255, 251, 2);
  }

.delete-button:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
  }

#fav-button:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.button-1:hover,
.button-1:focus {
  background-color: #4290ac;
}

#weather-image {
    border-radius: 15px;
    margin: 0px 50px 50px 50px;
}

#login-username, #login-password, #register-username, #register-password, #register-pin, #change-password-username, #new-password,#pin, #confirm-new-password {
    margin: 5px;
}
#loginbutton, #registerbutton {
    margin: 5px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#changepassbutton {
    margin: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: slategray;
}
a:visited{
    color: slategray;
}
#login{
    position: absolute;
    top: 48%;
    right: 44%;
}
#signup{
    position: absolute;
    top: 47%;
    right: 45%;
}
#forgot{
    position: absolute;
    top: 45%;
    right: 43%;
}

auth-container {
    position: absolute;
    align-items: center;
    /*transform: translate(115%);*/
}
#login-username, #login-password, #register-username, #register-password, #register-pin, #change-password-username, #new-password,#pin, #confirm-new-password {
    margin: 5px;
}
#loginbutton, #registerbutton {
    margin: 5px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#changepassbutton {
    margin: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: slategray;
}
a:visited{
    color: slategray;
}
#login{
    position: absolute;
    top: 48%;
    right: 44%;
}
#signup{
    position: absolute;
    top: 47%;
    right: 45%;
}
#forgot{
    position: absolute;
    top: 45%;
    right: 43%;
}


li {
    list-style-type: none;
    border: 0;
    margin: 0;
}

li:hover {
    color: white;
}

#weather-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#descriptions {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-right: 50px; 
}

#location-display-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

#weather-box {
    background-color: white;
    border-radius: 25px;
    padding: 2px;
    margin: 0px 21% 60px 21%;
}

#location-display {
    font-size: 30px;
    vertical-align: middle;
}

